---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Accueil"
  description="Bienvenu sur mon portfolio 2025, Kévin Lacroix"
>
  <main>
    <h1 class="wrapper">KELX</h1>
  </main>
</Layout>
